<div class="container">
	<h2 style="text-align: center;">みんなの質問</h2>
	<div><%= link_to "質問を投稿する",new_question_path, class: "new_question_button" %></div>
	<div class="row">
		<div class="col-sm-2 col-md-2"></div>
		<div class="col-sm-10 col-md-10">
		<div class="question_list">
		<hr>
		<% @questions.each do |q| %>
			<div class="question_title">
				<%= link_to  "#{q.title}", question_path(q.id), method: :get %>
				<hr>
			</div>
		<% end %>
		</div>
	</div>
	</div>
</div>

