.new_question_button{
	color: grey;
	font-weight: 800;
	font-size: 20px;
	border: solid 1px #03A9F4;
	box-shadow: none;
	text-shadow: none;
   float: right;
}


.question_title{
	font-size: 1.2em;
	font-weight: 600;
	color: grey;

}

.question_list{
	width: 80%;
	padding-left: 30px;
	padding-top: 20px ;
	padding-bottom: 20px ;
}

.question_box{
	border: solid 2px grey;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.align_center{
	text-align: center;
	font-weight: 500;
	word-wrap: break-word;
}
.answer_button{
	color: red;
/*	border: solid 2px grey;
	margin-top: 10px;
	padding: 10px;*/
	vertical-align: middle;
}
.answer{
	width: auto;
	text-align: center;
	border: solid 2px grey;
	margin-top: 10px;
	padding: 6px;
}






