.quest{
	color: #32CD32;
	text-shadow: 1px 1px 1px #999999;
	text-align: center;
	font-weight: 800;
	font-size: 6em;
}

.quest_parent {
  position: relative;
}

.quest_explanation{
	color: #259925 ;
	text-align: center;
	font-size: 2.6em;
}

.quest_box {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #DDE8DE;
}

.content_box{
	box-shadow: 0px 0px 2px 1px #AAAAAA;
	border-radius: 3px;
	background-color: white;
	/*width: 90%;*/
	padding: 10px 3px;
	margin: 10px auto;
}

.quest_top_right_left{
	width: 50%;
	display: inline-block;
	color: grey;
	font-weight: 600;
	text-align: left;
}

.quest_top_img{
	width: 50%;
	height: auto;
}
.quest_top_img_center{
	width: 50%;
	height: auto;
	
}
.center{
	margin: 0 auto;
	text-align: center;
}