.header{
	height: auto;
	background-color: white;
}

.inner-header{
	margin-right: 50px;
	margin-left: 100px;
}


.guest{
	display: inline;
	margin: 0 0 0 auto;
	padding-left: 15px;

}

.header-right{

	margin: 0 0 0 auto;	
	align-items: right;
}

.right-padding{
	/* padding-right: 600px; */
	/* padding-right: 60%; */
	margin-left: auto
}

.tunagu-header{
	padding: 10px 20px;
	text-align: center;
	background-color: #94d474;
	border-radius: 7px;
	color: white;
	padding-left: 5px;
	font-size: 1.2em;
}

.margin-right-fifty{
	margin-right: 30px;
}

.margin-right-fifty-2{
	margin-right: 15px;
}

.navbar-toggler-icon{
	width: 70px;
	height: 70px;
}

.navbar-font{
	font-size: 2.0em;
	text-align: center;
}
.margin-ten{
	margin-bottom: 20px;
}


.natto{
	padding-top: 10px;
    background-size:contain;             
    height: 100px;
	width: auto; 
} 

.keijiban {
	padding-top: 10px;
    background-size:contain;             
	width: 40%; 
	margin: 10px;
} 


.link_color {
	color: grey;
	font-size: 1.1em;
	font-weight: 600;
}

.width_some {
	width: 25%;
}
.button-right{
	/* margin-left: auto; */
	text-align: right;
	margin: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}