.top_container{
    margin-left:60px;
    margin-right:60px;
}
.sns{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:50px;                              /* 横幅のサイズを指定    */
    height:auto;  
}

h1#student_count{
    text-align: center;
    font-weight: 700;
}

.twiiter{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:60px;                              /* 横幅のサイズを指定    */
    height:auto;  
}

.natto-mobile{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:120px;                              /* 横幅のサイズを指定    */
    height:auto;  
}

.news{
    width: 100%;
    border: double  10px #696969;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
}

p#news  {
    margin: 0; 
    padding: 0;
    font-size: 1.3em;
    font-weight: 700;
    color: #555555;
    text-align: center;
    border-bottom: solid 1px #696969;
}

.news_index{
   /* text-align: right;*/
    margin: 0 0 0 auto;
}
.right{
      text-align: right;
    /*margin: 0 0 0 auto; */ 
}

.divided_border{
	border-top: inset 1.5px black;
	/*border-bottom: inset 3px black;	*/
}

.border_buttom{
    border-bottom: inset 1.5px black;
    /*border-bottom: inset 3px black;   */
}
.link_triangle{
    margin: auto;
    font-size: 1.6em;
    color: #66CC66;
}

.margin_auto{
    margin: auto;
}
h5#top_menu_title{
    font-weight: 500;
    font-size: 1.3em;
}

h4#slide_title{
/*    color: #F3FFD8;
    font-weight: 700;*/
    color: #F3FFD8;
    font-size: 1.7em;
    font-weight: 700;
    text-shadow: 2px 2px 1px #696969,
    -2px 2px 1px #696969,
    2px -2px 1px #696969,
    -2px -2px 1px #696969;
}

p#slide_comment{
    color:  white;
    font-size: 1.3em;
    font-weight: 700;
    text-shadow: 2px 2px 1px black,
    -2px 2px 1px black,
    2px -2px 1px black,
    -2px -2px 1px black;
}

.top_titles{
    padding-top: 20px;
}

h5#top_titles_font{
    font-weight: 800;
    color: #666666;
    font-size: 1.8em;
}
h5#mobile_top_titles_font{
    text-align: center;
    font-weight: 800;
    color: #666666;
    font-size: 2.5em;
    padding-bottom: 15px;
}
h5#mobile_moushikomi{
 text-decoration:
 underline; color: #66CC66; 
 font-size: 1.5em; 
}
.mobile_mini_event_font{
    font-size: 1.7em;
    color: black;
    max-width: 100%;
    word-wrap: break-word;
}
.mobile_now_regi_count{
    text-align: center;
    font-size: 3.0em;
    font-weight: 800;
    margin: 0 auto;
}
.top-title-inner{
    padding-left: 30px;
    padding-right: 30px;
}

.nav_obj{
    font-weight: 500;
    font-size: 1.5em; 
    color: #555555;
}


.event_menus{
    text-decoration: none;
    color:#555555;
}
.event_menus:hover {
    text-decoration: none;
     color:#777777;
}

.menu_img{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:50px;                              /* 横幅のサイズを指定    */
    height:auto;                            /* 縦幅のサイズを指定    */
}



 .padding_full{
    padding-bottom: 500px;
 }

.single { max-width: 600px; margin: 0 auto 50px;}
.single img{ width: 100%;}

/* carousel関連 */
.carousel-slide {
    margin: 0 auto;
    width: 900px;
}

.mobile_sns{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:90px;                              /* 横幅のサイズを指定    */
    height:auto;  
}

.mobile_sns_bg{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:110px;                              /* 横幅のサイズを指定    */
    height:auto;    
}


.mobile_mini_event_card{
    height: 250px;
    border-bottom:solid 1px grey;
    padding-top: 15px;
}
.mobile_apply_mini_event_btn{
    width: 100%;
    background-color: #888888;
    color: white;
    text-align: center;
    font-size: 2.0em;
    font-weight: 600;
}
.mobile-natto-desc{
    background-color: #EEEEEE;
    padding: 100px;
    color: black;
    width: 100%;
    margin-top:20px;
}
.mobile_mini_event_more{
    height:90%;
    background-color:#EEEEEE;
    color: #66CC66;
    font-size: 1.5em; 
    vertical-align: middle;
    text-align:center;
}
.mobile_mini_event_more_btn{
    text-align: center;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.6em;
    width: 70%;
    margin: 0 auto;
}

.mobile_menu_title{
    margin-top: 20px;
    margin-bottom:30px;
    padding: 10px;
    background-color: #4DA067;
    color: white;
    font-size: 2.0em;
}


.mobile_menu_img{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:150px;                              /* 横幅のサイズを指定    */
    height:auto;  
}

.mobile_menu_img_mini{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:130px;                              /* 横幅のサイズを指定    */
    height:auto;  
}

.mobile_menu_img_little{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:120px;                              /* 横幅のサイズを指定    */
    height:auto;  
}

.padding_little{
    padding-bottom: 10px;
    padding-top: 10px;
}

.mobile_menu_font{
    font-size: 2.0em;
}
.mobile_menu_font_sub{
    font-size: 1.8em;
}


