.top_container{
    margin-left:60px;
    margin-right:60px;
}
.sns{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:50px;                              /* 横幅のサイズを指定    */
    height:auto;  
}

h1#student_count{
    text-align: center;
    font-weight: 700;
}

.twiiter{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:60px;                              /* 横幅のサイズを指定    */
    height:auto;  
}
.news{
    width: 100%;
    border: double  10px #696969;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p#news  {
    margin: 0; 
    padding: 0;
    font-size: 1.3em;
    font-weight: 700;
    color: #555555;
    text-align: center;
    border-bottom: solid 1px #696969;
}

.news_index{
   /* text-align: right;*/
    margin: 0 0 0 auto;
}
.right{
      text-align: right;
    /*margin: 0 0 0 auto; */ 
}

.divided_border{
	border-top: inset 1.5px black;
	/*border-bottom: inset 3px black;	*/
}

.border_buttom{
    border-bottom: inset 1.5px black;
    /*border-bottom: inset 3px black;   */
}
.link_triangle{
    margin: auto;
    font-size: 1.6em;
    color: #66CC66;
}

.margin_auto{
    margin: auto;
}
h5#top_menu_title{
    font-weight: 500;
    font-size: 1.3em;
}

h4#slide_title{
/*    color: #F3FFD8;
    font-weight: 700;*/
    color: #F3FFD8;
    font-size: 1.7em;
    font-weight: 700;
    text-shadow: 2px 2px 1px #696969,
    -2px 2px 1px #696969,
    2px -2px 1px #696969,
    -2px -2px 1px #696969;
}

p#slide_comment{
    color:  white;
    font-size: 1.3em;
    font-weight: 700;
    text-shadow: 2px 2px 1px black,
    -2px 2px 1px black,
    2px -2px 1px black,
    -2px -2px 1px black;
}

.top_titles{
    padding-top: 20px;
}

h5#top_titles_font{
    font-weight: 800;
    color: #666666;
    font-size: 1.8em;
}
.top-title-inner{
    padding-left: 30px;
    padding-right: 30px;
}

.nav_obj{
    font-weight: 500;
    font-size: 1.5em; 
    color: #555555;
}


.event_menus{
    text-decoration: none;
    color:#555555;
}
.event_menus:hover {
    text-decoration: none;
     color:#777777;
}

.menu_img{
    background-size:contain;                 /* 画像のサイズを指定    */
    width:50px;                              /* 横幅のサイズを指定    */
    height:auto;                            /* 縦幅のサイズを指定    */
}


