.question{
	color: #4169E1;
	text-shadow: 1px 1px 1px #999999;
	text-align: center;
	font-weight: 500;
	font-size: 2em;	
}


.question_explanation{
	color: #2c4899;
	text-align: center;
	font-size: 1.2em;
}