.tag_fomat{
	padding-top: 3px;
	padding-bottom: 3px;
}

.home_top_sha{
	background-color:#E68A00;
	color: white;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}
.home_top_ga{
	background-color: #FF3333;
	color: white;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}
.home_top_cari{
	background-color: #339933;
	color: white;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;	
}

.home_top_mini{
	background-color: #777777;
	color: white;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;	
}

.event_time{
	text-align: center;
	font-size: 1.0em;
}

top-img{
	max-width:;
}