/*@media screen and (min-width: 769px){
	.sample{
		color:red;
	}
}

@media screen and (max-width: 768px){
	.sample{
		color:green;
	}
}

@media screen and (max-width:480px){
	.sample{
		color:blue;
	}
}*/

/*@media only screen and (max-width: 979px) {  
    header{
        Width:100%;
    }
} 
 
@media only screen and (min-width: 321px) and (max-width: 768px) {
     
    header{
        Width:100%;
    }
 
} 
 
@media only screen and (max-width: 320px) {
     
    header{
        Width:90%;
    }
 
}

