<!-- <p> <%= @first_name %> 様、この度は、「Natto」にご登録いただきまして、誠にありがとうございます。</p>
<p>下記のURLにアクセスして頂き、アカウント作成を完了させてください。</p>
<p><%#= link_to 'アカウントを有効化する', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>※ 24時間以内にアクセスして頂けないと有効期限が切れてしまいます。</p>
<p>また、アカウントの安全性を維持するため、このメールは他者に転送しないでください。</p> -->

<p>BBQPARTY「学生100人ツナグコト」へ申し込み下さった皆様</p>
<p>お久しぶりです。</p>
<p>一般社団法人ツナグコトです。</p>
<p>このたびリリースいたしました学生と企業を結ぶプラットフォーム「Natto」への
仮登録を完了させておきましたのでご確認ください。</p>
<p>以下の「アカウントを有効化する」をクリックしたあと、下記のログイン情報を入力することで登録が完了となります。
</p>
<p><%= link_to 'アカウントを有効化する', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
</p>
<b>ログイン情報</b>
<p><b>メールアドレス：<%= @email %></b><p>
<p><b>パスワード：password</b></p>
<p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
<p>
<p>パスワード変更の際は「パスワードの再発行」から手続きを行ってください。</p>
<p>皆様のイベント参加お待ちしております。</p>