<p> <%= @first_name %> 様、この度は、「Natto」にご登録いただきまして、誠にありがとうございます。</p>
<p>下記のURLにアクセスして頂き、アカウント作成を完了させてください。</p>
<p><%= link_to 'アカウントを有効化する', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>※ 24時間以内にアクセスして頂けないと有効期限が切れてしまいます。</p>
<p>また、アカウントの安全性を維持するため、このメールは他者に転送しないでください。</p>