.tag_desc{
	font-size: 2.5em;
	font-weight: 700;
	color: #444444	;
	text-align: center;
	padding-bottom: 15px;
}

p#tag_info{
	font-size: 2.0em;
	font-weight: 700;
	color: black;
}

p#tag_body{
	font-size: 2.0em;
	font-weight: 400;
	color: black;
}