<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<p>ツナグコト認定優良企業</p>
			<h1>comming Soon</h1>
			<div>Nattoおすすめイベント</div>
			<h1>comming Soon</h1>
		</div>
		<div class="col-lg-4">
			<div class="news">
				<p>News</p><hr>
			</div>
			<div class="row divided_border">
				<div class="col-lg-3"></div>
				<div class="col-lg-7">
					<h style="font-weight: 500; font-size: 1.5em; color: #555555;">Nattoで学ぶ</h><br>
					<h>シャショク・ガクショク</h>
				</div>
				<div class="col-lg-2" style="font-size: 1.6em;">▷</div>
			</div>
			<div class="row divided_border">
				<div class="col-lg-3"></div>
				<div class="col-lg-7">
					<h style="font-weight: 500; font-size: 1.5em; color: #555555;">Nattoで交流する</h><br>
					<h>学生イベント</h>
				</div>
				<div class="col-lg-2" style="font-size: 1.6em;">▷</div>
			</div>
			<div class="row divided_border">
				<div class="col-lg-3"></div>
				<div class="col-lg-7">
					<h style="font-weight: 500; font-size: 1.4em; color: #555555;">Nattoで仕事を探す</h><br>
					<h>クエスト</h>
				</div>
				<div class="col-lg-2" style="font-size: 1.6em;">▷</div>
			</div>
			<div class="row divided_border">
				<div class="col-lg-3"></div>
				<div class="col-lg-7">
					<h style="font-weight: 500; font-size: 1.5em; color: #555555;">登録学生</h><br>
				</div>
				<div class="col-lg-2" style="font-size: 1.6em;">▷</div>
			</div>
			<div class="row divided_border">
				<div class="col-lg-3"></div>
				<div class="col-lg-7">
					<h style="font-weight: 500; font-size: 1.5em; color: #555555;">協賛企業</h><br>
				</div>
				<div class="col-lg-2" style="font-size: 1.6em;">▷</div>
			</div>
			<div class="row divided_border">
				<div class="col-lg-3"></div>
				<div class="col-lg-7">
					<h style="font-weight: 500; font-size: 1.5em; color: #555555;">学生団体</h><br>
				</div>
				<div class="col-lg-2" style="font-size: 1.6em;">▷</div>
			</div>
			<div class="row divided_border">
				<div class="col-lg-3"></div>
				<div class="col-lg-7">
					<h style="font-weight: 500; font-size: 1.5em; color: #555555;">公益活動団体</h><br>
				</div>
				<div class="col-lg-2" style="font-size: 1.6em;">▷</div>
			</div>
			<div class="row divided_border">
				<div class="col-lg-10">
					<h style="font-weight: 500; font-size: 1.5em;">Nattoとは</h><br>
				</div>
				<div class="col-lg-2" style="font-size: 1.6em;">▷</div>
			</div>
			<div class="row divided_border">
				<div class="col-lg-10">
					<h style="font-weight: 500; font-size: 1.5em;">その他機能</h><br>
				</div>
				<div class="col-lg-2" style="font-size: 1.6em;">▷</div>
			</div>
		</div>
	</div>
</div>