<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- インジケータの設定 -->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <!-- スライドさせる画像の設定 -->
  <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag '1'%>
        <div class="carousel-caption d-none d-md-block">
          <h5>第1スライド見出し</h5>
          <p>スライドイメージの紹介</p>
        </div><!-- /.carousel-caption -->
      </div><!-- /.carousel-item -->

      <div class="carousel-item">
        <%= image_tag '2'%>
        <div class="carousel-caption d-none d-md-block">
          <h5>第1スライド見出し</h5>
          <p>スライドイメージの紹介</p>
        </div><!-- /.carousel-caption -->
      </div><!-- /.carousel-item -->

      <div class="carousel-item">
        <%= image_tag '3'%>
        <div class="carousel-caption d-none d-md-block">
          <h5>第1スライド見出し</h5>
          <p>スライドイメージの紹介</p>
        </div><!-- /.carousel-caption -->
      </div><!-- /.carousel-item -->
    <div class="carousel-item">
        <%= image_tag '4'%>
        <div class="carousel-caption d-none d-md-block">
          <h5>第1スライド見出し</h5>
          <p>スライドイメージの紹介</p>
        </div><!-- /.carousel-caption -->
      </div><!-- /.carousel-item -->
  </div><!-- /.carousel-inner -->
  <!-- スライドコントロールの設定 -->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  </a>
</div><!-- /.carousel -->


