<div class="devise_pc">
<div class="container">
	<div class="row">
	    <div class="some_padding"></div>
	    <div class="apply_conform_title"> 申し込み確認</div>

	    <div class="step_fin row">
	    	<div class="col-lg-1">
	    		<div class="link_triangle_small">
	    		▷
	    		</div>
	    	</div>
	    	<div class="col-lg-10"> Step1 入力事項確認</div>
		</div>

	    <div class="step_now row">
	    	<div class="col-lg-1">
	    		<div class="link_triangle_small">
	    		▷
	    		</div>
	    	</div>
	    	<div class="col-lg-10">Step2 申し込み完了</div>
		</div>

		<div class="grey_box">
			申し込み完了
		</div>
		<div class="apply_comp margin-under-50 ">
			イベントの申し込みが完了しました。<br>
			当日お会いできることを楽しみにしております!
		</div>
		<%= link_to 'トップへ戻る',root_path,  class: "apply_btn" %>
	</div>
	</div>
</div>


<div class="devise_mobile">
	<div class="container fluid">
	<div class="row">
    <div class="some_padding"></div>
	    <div class="apply_conform_title_mobile"> 
	    申し込み完了
		</div>
		<div class="apply_comp  all_event_apply_box_mobile margin-under-50 ">
			イベントの申し込みが完了しました。<br>
			当日お会いできることを<br>楽しみにしております!
		</div>
		<div style="margin: 0 auto;">
		<%= link_to 'トップに戻る', root_path, class: "apply_btn_mobile" %>
		</div>
		<div class="padding-big"></div>
	</div>
	</div>
</div>