<h1 class="comming_soon_words">新機能がもう少しで、解禁されます！</h1>
<h1 class="comming_soon_words">しばしお待ちを！！</h1>
<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-8">
		<%#= image_tag'comingsoon.png',class: "comming_soon" %>
		<br>
		<%= link_to "ホームに戻る", root_path %>
	</div>
	<div class="col-lg-2"></div>
</div>