<div class="container">
<div style="padding-top:80px;"></div>

    <div class="some_padding"></div>
    <div class="natto_toha">Nattoとは</div>
	<hr>

    <div class="natto_toha_img_center">
    	<%= image_tag'natto_toha.png', class: "natto_toha_img" %>
    </div>


    <div class="natto_toha_img_center natto_toha_body">
		Nattoは、学生が交流イベントを探したり、自分でイベントを作ったり、インターン先やアルバイト、ボランティア活動探しができる会員制のウェブサイトです。<br>
		一定の要件を満たす学生には、起業の支援も行っています。<br><br>
		当サイトは、「学生の交流・学び・実践を促進する一般社団法人ツナグコト」の事業を活性化するため学生起業家によって制作・運営され、支援企業さまのご厚意によって維持されています。<br><br>
		サイトで紹介されるイベント等の特徴は次のとおりです。<br><br>

		<div class="natto_toha_points">
			<h style="font-size: 1.5em;">①</h>
				学生が社会人（ボランティア）のサポートを受けて企画・運営していること<br>
				<h style="font-size: 1.5em;">②</h>
			イベントに参加するだけでなく、イベントを作ることもできること<br>
			<h style="font-size: 1.5em;">③</h>
			学生、企業、学生団体、公益的活動団体といった多様な人たちの集いであること<br>
		</div><br>

		「交流し、学び、実践する場」ににぎわいを添えることで、ダイバーシティ＆インクルージョンを推進することがNattoのミッションです。<br>
	</div>
	 <div class="natto_toha_img_center">	
		<%= image_tag'natto.png',class: "natto-mobile" %><br>
		<%= link_to "戻る", root_path %>
	</div>

</div>
