<div class="policy">
<p style="font-weight: 800; font-size: 1.2em; text-align: center;">個人情報保護方針</p>
<hr>

一般社団法人ツナグコト（以下「当社」といいます）は、学生と企業の成長を支える社会性の高い事業を行なっています。そのため、当社では個人情報保護を事業運営上の最重要事項と位置付け、「個人情報保護マネジメントシステム－要求事項（JIS Q 15001）」に準拠した保護体制を維持・向上させるよう努めています。
<div style="padding-top: 15px;"></div>
<br>
<b>個人情報の取扱いに関する基本原則</b>
<br>
<div style="padding-top: 15px;"></div>
■適正な取得<br>
個人情報はその利用目的をできる限り特定し、原則として本人の同意を得た上で、適法かつ公正な方法で取得します。
<br>
■目的外利用の禁止<br>
個人情報は、予め特定された利用目的の達成に必要な範囲を超えて利用しないこととし、そのために必要な措置を講じます。
<br>
■第三者提供<br>
個人情報は、法令に基づく場合を除き、本人の同意なく第三者へ提供しません。
<br>
■安全性の確保<br>
個人情報の管理にあたっては、漏えい、滅失またはき損の防止などの安全管理のために、適切な予防および是正措置を講じるように努めます。
<br>
■透明性の確保<br>
個人情報の取得・利用・提供の各場面において、その情報を提供した本人が適切に関与できるように努め、可能な限り正確かつ最新の内容に保つよう努力します。
<br>
■苦情・相談への対応<br>
個人情報に関する苦情および相談に対応する窓口を設けて、誠実かつ迅速な対応を行います。
<br>
■法令遵守<br>
個人情報保護に関する法令などを遵守し、また個人情報保護に関する社内規程を定め、確実に運用されるように継続的な見直しを行います。
<br>
<div style="padding-top: 15px;"></div>
一般社団法人ツナグコト<br>
代表理事　鈴木　雅登<br>
（附則）<br>
2019年8月1日制定<br>
<div style="padding-top: 15px;"></div>
<p style="font-weight: 800; font-size: 1.2em; text-align: center;">個人情報の取扱いについて</p>
<hr>
<div style="padding-top: 15px;"></div>
一般社団法人ツナグコト（以下「当社」といいます）は、Natto（以下「本サービス」といいます）をご利用になる方（以下「ユーザー」といいます）のプライバシーを尊重し、ユーザーの個人情報（以下の定義に従います）の管理に細心の注意を払い、これを取扱うものとします。
<br>
◆個人情報<br>
個人情報とは、ユーザー個人に関する情報であって、当該情報を構成する氏名、住所、電話番号、メールアドレス、学校名その他の記述等により当該ユーザーを識別できるものをいいます。また、その情報のみでは識別できない場合でも、他の情報と容易に照合することができ、結果的にユーザー個人を識別できるものも個人情報に含まれます。
<br>
◆個人情報の利用目的<br>
当社は、本サービスの提供にあたり、以下に定める目的の範囲内で個人情報を取得し、適切に利用します。<br>
A.ユーザーの個人認証及びユーザー向け本サービスの提供<br>
B.本サービスまたは当社からの各種連絡・メールマガジン・DM・各種お知らせ等の配信・送付<br>
C.他の事業者等から個人情報の全部または一部につき委託された場合等における受託業務の遂行<br>
D.ユーザーの承諾・申込みに基づく、本サービス利用企業・提携企業・団体等（以下「利用企業等」といいます）への個人情報の提供<br>
E.本サービスおよび当社のサービスの改善・新規サービスの開発およびマーケティング<br>
F.本サービスおよび当社のサービスにおいて受領した情報の加工、統計および分析<br>
Gキャンペーン・アンケート・モニター・取材等の実施<br>
H.本サービスに関するご意見、お問い合わせ、クチコミ投稿内容の確認・回答<br>
I.属性情報・端末情報・位置情報・行動履歴等に基づく広告・コンテンツ等の配信・表示、本サービスの提供<br>
J.利用規約等で禁じている、商用・転用目的での各種申込行為、各種多重申込、権利譲渡、虚偽情報登録などの調査と、それに基づく当該申込内容の詳細確認<br>
<br>
◆個人情報提供の任意性<br>
本サービスが提供を求めるすべての項目にお答えいただく必要はありませんが、必要となる情報が不足している場合には、本サービスを提供できない場合があります。
<br>
◆個人情報の第三者への提供<br>
当社は、原則として、ユーザー本人の同意を得ずに個人情報を第三者に提供しません。提供先・提供情報内容を特定したうえで、ユーザーの同意を得た場合に限り提供します。ただし、以下の場合は、関係法令に反しない範囲で、ユーザーの同意なく個人情報を提供することがあります。<br>
A.ユーザーが第三者に不利益を及ぼすと判断した場合<br>
B.公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ユーザー本人の承諾を得ることが困難である場合<br>
C.国の機関若しくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合で、ユーザー本人の同意を得ることによりその事務の遂行に支障を及ぼすおそれがある場合<br>
D.裁判所、検察庁、警察またはこれらに準じた権限を有する機関から、個人情報についての開示を求められた場合<br>
E.ユーザー本人から明示的に第三者への開示または提供を求められた場合<br>
F.法令により開示または提供が許容されている場合<br>
G.合併その他の事由による事業の承継に伴い個人情報を提供する場合であって、承継前の利用目的の範囲で取り扱われる場合<br>
<br>
◆第三者提供に関する免責事項<br>
以下の場合は、第三者による個人情報の取得に関し、当社は何らの責任を負いません。<br>
A.ユーザー自らが本サービスの機能または別の手段を用いて利用企業等に個人情報を明らかにする場合（なお、利用企業等における個人情報の取扱いについては、各利用企業に直接お問合せください）<br>
B.本サービスに入力した情報により、期せずして本人が特定できてしまった場合<br>
C.本サービスからリンクされる外部サイトにおいて、ユーザーより個人情報が提供され、またそれが利用された場合<br>
D.ユーザー本人以外がユーザー個人を識別できる情報（ID・パスワード等）を入手した場合<br>
<br>
◆個人情報処理の外部委託<br>
当社は、個人情報取扱い業務の一部または全部を外部委託することがあります。当該委託先に個人情報の開示を行う場合には、十分な個人情報保護水準を確保していることを条件として委託先を選定し、機密保持契約を結んだ上で開示します。
<br>
◆統計処理されたデータの利用<br>
当社は、提供を受けた個人情報をもとに、個人を特定できないよう加工した統計データを作成することがあります。個人を特定できない統計データについては、当社は何ら制限なく利用することができるものとします。
<br>
◆個人情報の開示、訂正、利用停止等<br>
「個人情報の利用目的」の通知、登録した個人情報の開示、訂正、追加または削除、ならびに利用停止、消去、または第三者への提供の停止（以下「個人情報の開示等」といいます）の依頼を受けた場合は、原則としてユーザー本人のご依頼に限り、当社の社内規程に従って速やかに対応します。ただし、業務の記録や以下の場合については個人情報の開示等の依頼にお応えできないことがあります。<br>
A.利用者本人または第三者の生命、身体、財産その他の権利・利益を害するおそれがある場合<br>
B.当社の業務に支障を及ぼすおそれがある場合<br>
C.他の法令に違反することとなる場合、また、当該個人情報の変更等に多額の費用を要する場合､その他、個人情報の変更等を行うことが困難な場合であって、利用者の権利・利益を保護するため必要なこれに代わるべき措置をとるときは、個人情報の変更等に応じないことがあります。<br>
<br>
◆適正管理<br>
当社は、利用目的の達成に必要な範囲内において、ご提供いただいた個人情報を正確かつ最新の状態で管理するよう努めるとともに、個人情報への不正なアクセスまたは個人情報の紛失、破壊、改竄、漏洩などの危険に対して、技術面及び組織面において必要な安全対策を継続的に講じるよう努めます。ただし、ご提供いただいた個人情報の内容が正確かつ最新であることについては、利用者が責任を負うものとします。
また、当社は、個人情報の安全管理が図られるよう、運営スタッフに対する必要かつ適切な教育および管理を行います。なお、個人情報はサービスを終了した後も法令等の定めに従い一定期間保管します。保管期間が経過した個人情報は速やかに消去します。
<br>
◆機微な個人情報の取得制限<br>
当社は、次に示す内容を含む個人情報の取得は原則として行いません。ただし、ユーザーが自ら提供した場合は、この限りではありません。<br>
A.思想、信条及び宗教に関する事項<br>
B.人種、民族、門地、本籍地（所在都道府県に関する情報を除く）、身体・精神障害、犯罪歴、その他社会的差別の原因となる事項<br>
C.勤労者の団結権、団体交渉及びその他団体行動の行為に関する事項<br>
D.集団示威行為への参加、請願権の行使、及びその他政治的権利の行使に関する事項<br>
E.保健医療及び性生活<br>
<br>
◆本人確認について<br>
当社は、個人情報の開示等の求めに応じる場合など、個人を識別できる情報（氏名､住所､電話番号､生年月日､メールアドレス､会員番号､パスワードなど）により、本人であることを確認します。ただし、本人以外が個人を識別できる情報を入手し使用した場合、当社は責任を負いません。
<br>
◆属性情報・端末情報・位置情報・行動履歴等の取得及び利用について<br>
・属性情報・端末情報・位置情報・行動履歴等（以下「行動履歴等」といいます）のうちCookie等について
当社は、ユーザーのプライバシーの保護、利便性の向上、広告の配信および統計データの取得のため、Cookieを使用します。また、CookieやJavaScript等の技術を利用して、ご提供いただいた情報のうち、年齢や性別、職業、居住地域など個人が特定できない属性情報（組み合わせることによっても個人が特定できないものに限られます）や端末情報、当社の運営するサイトにおけるユーザーの行動履歴（アクセスしたURL、コンテンツ、参照順等）およびスマートフォン等利用時の、ユーザーの承諾・申込みに基づく位置情報を取得することがあります。<br>
・行動履歴等の利用について<br>
当社は、本サービスにおいて取得した行動履歴等を用いて、ユーザーに適切な広告を配信するために行動ターゲティング広告サービスを利用します。<br>
また、当社は、ユーザーがログインして本サービスを利用した場合には、個人を特定したうえで、ユーザーが本サービスに登録した個人情報、およびcookieを使用して本サービスまたは当社と提携するサイトから取得した行動履歴等（当該ログイン以前からの行動履歴等を含みます）を分析・集計し、以下の目的で利用することがあります。<br>
・広告・コンテンツ等の配信・表示等のユーザーへの最適な情報提供<br>
・採用活動補助のための利用企業等への情報提供（選考に利用されることはありません）。<br>
なお、行動履歴等は、あらかじめユーザー本人の同意を得ることなく個人を特定できる状態で第三者に提供されることはございません。<br>
また、当社は、提供を受けた行動履歴等を集計および分析し、個人を特定できない情報として統計データ等を作成し、当該統計データ等につき何らの制限なく利用することができるものとし、ユーザーはこれを承諾します。<br>
行動履歴等の利用を無効にしたい場合は、オプトアウトページにアクセスし、手順に従ってください。（携帯電話からアクセスしている場合はオプトアウト機能が利用できないことがあります）なお、オプトアウト以降、ユーザーの行動履歴等は使用されなくなりますが、ブラウザの変更、cookieの削除等を行った場合には、再度これらの設定が必要になります。また、行動履歴等の利用を無効化した場合には、当社がご提供する一部のサービスをご利用できなくなることがありますので、あらかじめご了承ください。<br>
<br>
◆個人情報管理責任者<br>
一般社団法人ツナグコト　個人情報保護管理責任者
<br>
◆プライバシーポリシーの変更<br>
当社は、法令等の定めがある場合を除き、プライバシーポリシーを随時変更することができるものとします。変更後の内容は、当社のウェブページにおいて掲載するものとし、掲載後１ヵ月経過した時点で本サービスを継続して利用しているユーザーは、変更後の本プライバシーポリシーの内容に同意したものとみなします。
</div>