<% if admin_signed_in? || corporation_signed_in?  %> <!-- サービスリリース時に解禁 -->
	<div class="container fluid">
	    <p class="student_top" >登録企業</p>
	    <p class="student_top" style="display: inline;">一覧</p> 

	<p><%= link_to "←トップに戻る", root_path, class: "student_all_back" %></p>

	<div class="company_details_box">
			<div class="row company_detail_padding">
	        <% @companies.each do |c| %>
				<div class="col-sm-3 col-md-3 company_detail_fonts">
				<p class="company_detail_fonts"> <%= link_to "#{c.name}", company_page_path(c.id) %> </p>
				</div><!-- ./col-sm-12 col-md-12 event_detail_fonts -->
	        <% end %>
			</div><!-- ./row event_detail_padding -->
		</div><!-- ./event_details_box -->
	</div><!-- ./container fluid -->
<% else %> <!-- サービスリリース時に解禁 -->
	<h1>まだこのページはお使いにはなれません</h1><!-- サービスリリース時に解禁 -->
<% end %>