.student_top {
    font-size: 1.5em;
    font-weight: 10;
    text-align: left;
    color: red;
    text-shadow: 2px 2px 1px #999999;
    padding: 0.5em;
    display: inline;
}

.student_all_back {
    padding-left: 15px;
}

.student_details_box {
    box-shadow: 0px 0px 2px 1px #AAAAAA;
    border-radius: 3px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px auto;
}

.student_detail_fonts {
    font-weight: 150;
    font-size: 1.1em;
}

.student_detail_padding {
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 50px;
    color: dimgray;
}

.student_labels_title {
    font-size: 1.15em;
    font-weight: 900;
    margin-bottom: 0;
}
.my_image-round{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}


.student_normal {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFFFCC;
  background: #808080;/*色*/
  border-radius: 4px;/*角の丸み*/
  font-weight: bold;
  border: solid 2px #DDDDDD;/*線色*/
}

.student_ambassador {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: black;
  background: #FF6666;/*色*/
  border-radius: 4px;/*角の丸み*/
  font-weight: bold;
  border: solid 2px #DDDDDD;/*線色*/
}

.student_start_up {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: black;
  background: #33CC00;/*色*/
  border-radius: 4px;/*角の丸み*/
  font-weight: bold;
  border: solid 2px #DDDDDD;/*線色*/
}
.some_padding{
padding-bottom: 50px;
}
.student__my_page{
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  font-size: 24px;
  font-weight: 500;
  background: transparent;/*背景透明に*/
  border-left: solid 8px #4DA067;/*左線*/
  margin-top-top: 200px;
  margin-bottom: 30px;
}

.link_triangle_mini{
    margin: auto;
    font-size: 1.3em;
    color: #66CC66;
    padding-right: 10px;
}
.student_show_tab_main{
  border-left: solid 2px silver;/*左線*/
  width: 30%;
  text-align: center;
  display: inline-block; 
}
.student_show_tab{
  font-size: 1.3em;
  color: grey;
}

