.event_show_parent {
  position: relative;
}
.event_show_title {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #FFE4C4;
}
.event_show_company_detail{
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: #CBFFD3;
}
.event_show_tag_desc{
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #FFD5EC;
}

.event_show_padding{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
}
 

.event_details_box{
 	box-shadow: 0px 0px 2px 1px #AAAAAA;
	border-radius: 3px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 10px auto;
}

.event_details_inner_box{
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.display_inline_block{
 	display: inline-block;
}

.display_inline{
 	display: inline;
}

.event_detail_fonts{
 	font-weight: 800;
 	font-size: 1.3em;
}

.event_detail_padding{
 	padding-left: 30px;
 	padding-top: 20px; 
 	padding-bottom: 0px;
 	padding-right: 30px;
}

.padding_little {
  padding: 20px;
}
.event_type_details{
  width: 100%;
  padding: 20px;
  text-align: center;
  margin: auto;
}

.event_apply_student_btn{
  background-color: #94d474;
  color: white ;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px; 
  border: solid 1px #333 ;
}

.event_apply_adult_btn{
  background-color: #66CCFF;
  color: white ;
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  border-radius: 20px;
  border: solid 1px #333 ;
}

.event_details_outer_box {
  background-color: #DDDDDD;
  color: black;
  padding-top: 20px;
}

.event_show_img {
  width: 100%;
}

.student_other {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
}

.event_content_font {
  font-size: 23px;
}
