/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .padding_full{
 	padding-bottom: 500px;
 }

.single { max-width: 600px; margin: 0 auto 50px;}
.single img{ width: 100%;}

/*@media screen and (max-width: 480px) {
	.devise_for{
		display: none;
	}	
}
@media screen and (max-width:768px) { 
	.devise_for{
		display: none;
	}
}
@media screen and (min-width:768px) and ( max-width:1024px) {
	.devise_for{
	}
}
@media screen and (min-width:1024px) {
	.devise_for{
		display: none; 
		visibility: hidden;
	}
}*/


@media screen and (min-width: 980px) {
    /* 980px以上用（PC用）の記述 */
    .devise_for{
		/*display: none;*/ 
		/*visibility: hidden;*/
	}
}
@media screen and (min-width: 768px) and (max-width: 979px) {
    /* 768px - 979px用（タブレット用）の記述 */
    .devise_for{
		display: none; 
		/*visibility: hidden;*/
	}
}
@media screen and (min-width: 480px) and (max-width: 767px)  {
    /* 480px - 767px用（タブレット／スマートフォン用）の記述 */
    .devise_for{
		display: none; 
		/*visibility: hidden;*/
	}

}
@media screen and (max-width: 479px) {
    /* 479px以下用（スマートフォン用）の記述 */
    .devise_for{
		display: none; 
		/*visibility: hidden;*/
	}
}

/* carousel関連 */
.carousel-slide {
	margin: 0 auto;
	width: 900px;
}
