/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media screen and (max-width: 980px) {
    /* 479px以下用（スマートフォン用）の記述 */
	body {
		background-color: #EEEEEE ;
	}
}

@media screen and (min-width: 981px) {
    /* 980px以上用（PC用）の記述 */
	body {
		background-color: #F7F7F7 ;
	}
}


.color-white {
	background-color: white;
	border-radius: 20px;
}

.white {
	color: white;
}
.padding-20 {
	padding:20px;
}
.margin-30 {
	margin:30px;
}


.redirect_to_root_btn {
	position: fixed;
	bottom: 10px;
	opacity: 0.7;
	right: 30px;
	background-color: grey;
	color:white ;
	padding: 20px;
	font-size: 20px;
	border-radius: 20px;
    box-shadow:5px 5px 20px;
    border:1px solid black;
    z-index: 100;
}

.admin_log_out_btn {
	position: fixed;
	opacity: 0.7;
	bottom: 10px;
	left: 30px;
	background-color: red;
	color: white ;
	padding: 20px;
	font-size: 20px;
	border-radius: 20px;
    box-shadow:5px 5px 20px;
    border:1px solid black;
    z-index: 100;
}

.admin_top_btn {
	position: fixed;
	opacity: 0.7;
	bottom: 100px;
	right: 30px;
	background-color: #666666;
	color: white ;
	padding: 20px;
	font-size: 20px;
	border-radius: 20px;
    box-shadow:5px 5px 20px;
    border:1px solid black;
    z-index: 100;
}

.redirect_to_root_btn:hover {
	color: #FFFFCC;
	background-color: #444444;
	text-decoration: none;
}


@media screen and (max-width: 980px) {
    /* 479px以下用（スマートフォン用）の記述 */
    .devise_pc{
		display: none; 
		/*visibility: hidden;*/
	}
}

@media screen and (min-width: 981px) {
    /* 980px以上用（PC用）の記述 */
    .devise_mobile{
		display: none; 
		/*visibility: hidden;*/
	}
}
.margin-bottom{
	margin-bottom: 150px;
}

.padding-top{
	padding-top: 20px;
}

.big_text_area{
	width: 700px;
	height: 300px;
}

.aligen_center{
	text-align: center;
}

.all_center {
	vertical-align: middle;
	margin: auto;
}

.home_manue_center {
	width: 90%;
	margin: 0 auto;
}

