.comming_soon{
	width: 70%;
	margin:auto 0;
	text-align: center;
}

.comming_soon_words{
	padding-top: 50px;
	font-color: #FFFFFF;
	font-weight: 700;
	text-align: center;
}

.card-img{
	width: 18rem;
}

.img-tags-css{
	max-width: 100%;
}