.width_max {
	width: 100px;
}

.tng-button{
  position:fixed;
  width: 90%;
  font-weight: bold;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 40px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  bottom:80px;
  left: 50px;
  transition:1s;
  opacity:0.9;
  background: black;
  color: white;
  z-index: 2;
}

.tng-btn{
  width: 90%;
  margin-left: 50px;
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 40px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  transition:1s;
  opacity:0.9;
  background: black;
  color: white;
  z-index: 2;
}

.tng-btn-last{
  position: absolute;
  bottom: -100px;
  left: 50px;
  width: 90%;
  margin-left: 50px;
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 40px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  transition:1s;
  opacity:0.9;
  background: black;
  color: white;
  z-index: 2;
}

.tng-button-staic{
  position: absolute;
  width: 90%;
  font-weight: bold;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 40px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  bottom: -60px;
  left: 50px;
  transition:1s;
  opacity:0.9;
  background: black;
  color: white;
  z-index: 2;
}

.tng-button-staic-shimashima-top{
  position: absolute;
  width: 90%;
  font-weight: bold;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 40px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  top: -60px;
  left: 50px;
  transition:1s;
  opacity:0.9;
  background: black;
  color: white;
  z-index: 2;
}

.tng-button-staic-shimashima{
  position: absolute;
  width: 90%;
  font-weight: bold;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 40px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  bottom: -60px;
  left: 50px;
  transition:1s;
  opacity:0.9;
  background: black;
  color: white;
  z-index: 2;
}


.resizeimage img { width: 100%; }


main-body {
background-image: linear-gradient(
	-45deg,
	#f5eeed 25%,
	#f4e2de 25%,
	#f4e2de 50%,
	#f5eeed 50%,
	#f5eeed 75%,
	#f4e2de 75%,
	#f4e2de
);
background-size: 30px 30px;
background-attachment: fixed;
}

.naname-stripe {
  background-image: linear-gradient(-45deg,
    #fff 25%, #000 25%, #000 50%, #fff 50%, #fff 75%,#000 75%, #000
  );
  background-size: 4px 4px;
}

.shimashima{
background: repeating-linear-gradient(60deg,
 #FFFF66, #FFFF66 20px, #FFCC66 20px, #FFCC66 40px);
}

.naname-stripe2 {
  background: repeating-linear-gradient(
    45deg,    
    #fff,      
    #fff 3px,  
    #000 3px,     
    #000 6px    
  );
}
.lp_font {
 font-size: 50px;
 font-weight: 500;
 font-family: YuGothic;
 color: #333333;
}

.lp_font_mini{
  font-size: 35px;
 font-weight: 700;
}

.lp_font_mini_mini{
  font-size: 32px;
 font-weight: 700;
}

.font-border{
  border-bottom: solid 3px #EF4848;
}

.comment {
position: relative;
}

.parent_a {
  position: relative;
  padding: 30px;
  margin-bottom: 450px;
}
.parent_b {
  position: relative;
  padding: 30px;
  margin-bottom: 450px;
}
.parent_c {
  position: relative;
  padding: 30px;
  margin-bottom: 450px;
}

.parent {
  position: relative;
}

.triangle{
  position: absolute;
  left: 15%;
  border-top: 200px solid white;

  border-right: 350px solid transparent;
  border-left: 350px solid transparent;
}

.comment {
  position: absolute;
  top: 450px;
  left: 100;
  opacity:0.9; 
  color: white;
  font-weight: 400;
  font-size: 40px;
  width: 95%;
  padding: 25px;
}

.red {
    background-color: #EF4848;
}

.green {
   background-color: #91D656;
}


.blue {
   background-color: #54C4D6;
}

