.login_box{
	margin: 30px 30px;
	border: medium solid #94d474;
	border-radius: 25px 25px 25px 25px;
	background-color: white;

}

.login_box_inner{
	padding: 15px;
}

.login_button{
	width: 200px;
	color: white;
	background-color: #94d474;
	height: 60px;
	text-align: center;
	padding: 10px 10px;
	font-size: 1.4em;
	font-weight: 700;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 10px;
}

.login_button_mobile{
	width: 60%;
	color: white;
	background-color: #94d474;
	height: 100px;
	box-shadow: 0 0 8px grey;
	text-align: center;
	padding: 10px 10px;
	font-size: 1.9em;
	font-weight: 700;
	border-radius: 20px 20px 20px 20px;
}


.input_box{
	padding-left:25px ;
	padding-top: 30px;
}

.input_field{
	width: 300px;
	height: 300px;
	background-color: #CCCCCC;

}

.button_center{
	text-align: center;
}

.forget_password{
	color: #94d474;
	font-weight: 700;
}

.lead_to_regi{
	width: 100%;
	background-color: #94d474;
	color: white;
	margin-bottom: 50px;
	margin-top: 30px;
}
.regi_info{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 1.4em;
	font-weight: 700;
	text-align: center;
}

.regi_info_2{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 1.2em;
	font-weight: 500;
	width: 80%;
	margin: auto;
}

.button_center_margin{
	margin: auto;
	padding-bottom: 50px;
}
.regi_button{
	width: 400px;
	color: #94d474;
	background-color: white;
	height: 80px;
	text-align: center;
	padding-top: 20px;
	font-size: 1.4em;
	font-weight: 700;
	border-radius: 20px 20px 20px 20px;
	vertical-align:middle;
	margin: 0 auto;

}
.regi_font{
	color: #94d474;
	font-weight: 700;
	margin: auto;
	vertical-align:middle;
}


.regi_font_mobile{
	color: #94d474;
	font-size: 30px;
	font-weight: 400;
	margin: auto;
	vertical-align:middle;
}

.must{
	font-weight: 900;
	color: #FF1A6F;
	font-size: 0.8em;
	padding-left: 8px;
	padding-right: 8px;
}

.weight_hr {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
	height: 3px;
	background-color: #999999;
}
.login_box_mobile {
	margin: auto;
	background-color: white;
	opacity: 0.8;
	padding: 15px;
}


@media screen and (max-width: 980px) {
    /* 479px以下用（スマートフォン用）の記述 */
	input[type="text"] {
		padding-left: 5px;
	    width: 250px;
	    height: 47px;
	    background-color: white;
	    border-radius: 10px;
	    border: 1px solid #AAAAAA;
	    margin: 3px;
	    font-family: inherit;
	    font-size: inherit;
	    line-height: inherit;
	}

	input[type="email"] {
		padding-left: 5px;
	    width: 80%;
	    height: 80px;
	    background-color: white;
	    border-radius: 2px;
	    border: 2px solid grey;
	    margin: 20px;
	    font-family: inherit;
	    /*font-size: inherit;*/
	    line-height: inherit;
	}


	input[type="password"] {
		padding-left: 5px;
	    width: 80%;
	    height: 80px;
	    background-color: white;
	    border-radius: 2px;
	    border: 2px solid grey;
	    margin: 20px;
	    font-family: inherit;
	    /*font-size: inherit;*/
	    line-height: inherit;
	}

	input[type="file"] {
	    background-color: white;
	}
}

@media screen and (min-width: 981px) {
    /* 980px以上用（PC用）の記述 */
	input[type="text"] {
		padding-left: 5px;
	    width: 250px;
	    height: 47px;
	    background-color: white;
	    border-radius: 10px;
	    border: 1px solid #AAAAAA;
	    margin: 3px;
	    font-family: inherit;
	    font-size: inherit;
	    line-height: inherit;
	}

	input[type="email"] {
		padding-left: 5px;
	    width: 250px;
	    height: 47px;
	    background-color: white;
	    border-radius: 10px;
	    border: 1px solid #AAAAAA;
	    margin: 3px;
	    font-family: inherit;
	    font-size: inherit;
	    line-height: inherit;
	}


	input[type="password"] {
		padding-left: 5px;
	    width: 200px;
	    height: 47px;
	    background-color: white;
	    border-radius: 10px;
	    border: 1px solid #AAAAAA;
	    margin: 3px;
	    font-family: inherit;
	    font-size: inherit;
	    line-height: inherit;
	}

	input[type="file"] {
	    background-color: white;
	}
}


