<% flash.each do |message_type, message| %>
	<% if message_type == "notice" %>
		<div class="notice">
      		<%= message %>
    	</div>
    <% else %>
	    <div class="alert alert-<%= message_type %>">
	      <%= message %>
	    </div>
    <% end %>
<% end %>