<footer class="footer">
  <nav class="footer_nav">
    <ul>
   		<li><%= link_to "プライバシーポリシー", home_policy_path %></li>
   		<li><%= link_to "個人情報保護方針", home_privacy_path %></li>
      	<li><%= link_to "Top", root_path %></li>
      	<li><%= link_to "Home", 'http://tunagu.or.jp/' %></li>
    </ul>
  </nav>
<div class="tunagukoto">©️ 2019 ツナグコト</div>
</footer>