<footer class="footer">
  <nav style="margin-right: 50px;">
    <ul>
   		<li><%= link_to "プライバシーポリシー", home_policy_path %></li>
      	<li><%= link_to "Top", '#' %></li>
      	<li><%= link_to "Home", '#' %></li>
    </ul>
  </nav>
<div class="tunagukoto">©️ 2019 ツナグコト</div>
</footer>